@import '././core/reset.scss';
@import '././core/variables.scss';

.footer {
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #d8d8d8;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    font-family: "Open Sans", sans-serif;
  }
  .footer .footer__copyright {
    font-size: 14px;
    color: rgba(107, 107, 107, 0.5);
  }
  .footer .footer__image {
    width: 103px;
    height: 40px;
    padding-top: 20px;
  }
  @media all and (min-width: 768px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 10px 40px;
    }
    .footer .footer__image {
      padding-top: 0;
    }
  }